body {
    font-family: DKBEuclid, Arial, sans-serif;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

button {
    margin-top: 5px;
    cursor: pointer;
}

.flex {
    display: flex;
    gap: 48px;
}

.flex>div {
    flex-grow: 1;
    width: 50%;
}

.text-input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
}

.text-input-modern {
    width: 95%;
    background-color: rgba(0, 144, 255, 0.05);
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    border-color: #007BFF;
}

.text-input-modern:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.text-input-fancy {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #11998e;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.label-fancy {
    color: #11998e;
}

.header {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    line-height: 1.875rem;
}

.login-button {
    height: 48px;
    padding: 12px 18px;
}

.textblock {
    font-size: 1rem,
}

.textblock-modern {
    font-size: 1rem;
    font-family: "Gill Sans", sans-serif;
    letter-spacing: 1px;
  }